  <div class="grid_16 headings header">
    <h1>Grab My Gear</h1>
    <%= render :partial  => "login" %>
  </div>
  <div class="grid_16 headings items">
    <div class="grid_7">Name</div>
    <div class="grid_3 suggest alpha">Suggested offer</div>
    <div class="grid_2 ">Bidder</div> 
    <div class="grid_3">Offer</div>
    <div class="grid_1" colspan="2"></div>
  </div>
  <div class="clear"></div>
  <%= render :partial  => "item", :collection  => @items %>
  <div class="clear"></div>
  
  <div class="grid_10 prefix_1"><%= render  :partial => "form" if authorized? %></div>
