  <div class="grid_8 prefix_5 headings">
    <h1>Stuff for Sale</h1>
    <%= render :partial  => "login" %>
  </div>
<table class="grid_13 items">
  <tr class="headings">
    <th class="">Image</th>
    <th class="">Name</th>
    <th class="suggest alpha suffix_1">Suggested offer</th>
    <th class="suffix_1">Bidder</th> 
    <th>Offer</th>
    <th width="100%" colspan="2"></th>
  </tr>
<%= render :partial  => "item", :collection  => @items %>
  <tr>
    <td colspan="5"><%= render  :partial => "form" if authorized? %> </td>
  </tr>
</table>
<br />
